<div class="contact-container">
  <div class="contact">
    <ul>
      <li>
        <div class="contact-icon">
          <i class="icon-mail"></i>
        </div>
      </li>
      <li>
        <div class="contact-icon">
          <i class="icon-twitter"></i>
        </div>
      </li>
      <li>
        <div class="contact-icon">
          <i class="icon-github"></i>
        </div>
      </li>
      <li>
        <div class="contact-icon">
          <i class="icon-linkedin"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
